
# Dependencies
**/node_modules
/node_modules
/functions/node_modules
/next-app/node_modules

# Build Folder
/next-app/build
/next-app/out
/next-app/.next

# DS_Store
.DS_Store

# Firebase
.firebase
.firebaserc

# Env
.env
.env.local

# Other
*.lock
*.log
.vscode

# Dependency directories
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env*
